@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;700&display=swap');

.dark [img-light] {
  display: none;
}
  
html:not(.dark) [img-dark] {
  display: none;
}